//colors
$back:rgb(248, 248, 248);
$main_black:rgba(41, 41, 43, 0.98);
$paragraphcolor: #6d6d6d;
$grey : #ececec;
$divider: #f5f4f4;

$active:#ef4136;$active_hover:#ee7e76;
$done: #43b27a;

$btn_blue_inactive: #f5faff;
$btn_blue_outline: #acd0f9;
$btn_blue_text:#4b92e2;
$blue_filled_hover: #64a4ee;
$btn_red_inactive: #fef7f9;
$btn_red_outline: #f99a94;
//active = brn_red_filled

$block_grey_fill: #f5f7f8;
$block_grey_outline: #e3e3e3;

//fonts
$Roboto:'Roboto', sans-serif;
$Exo:'Exo 2', sans-serif;
$Playfair: "Playfair Display", serif;

//elements
$shadow_light: 0 3px 5px 0px rgba($color: #000000, $alpha: 0.10);

p {
  font-size: 0.88vw;
  color: $paragraphcolor;
  line-height: 30px;
  font-family: $Exo;
  font-weight: 300;
}
.block_neutral{
    border-radius: 6px;
    background:$block_grey_fill;
    border:1px solid $block_grey_outline;
    font-family: $Roboto;
    font-weight: 300;
    transition: 0.1s;
}
.block_neutral:disabled{
    background:$block_grey_outline;
}
.block_neutral:not(.new_btn):focus{
    background: white;
    border: 1px solid $btn_blue_text;
    outline:none;
    color:$btn_blue_text;
    transition: .3s ease;
}
.button{
    border-radius: 6px;
    padding: 15px 30px;
    font-family: $Roboto;
    transition: 0.1s;
    cursor:pointer;
}
.button:hover{
    color:white;
}
.button:focus{
    outline: none;
}
.blue{
    border: 1px solid $btn_blue_outline;
    background: $btn_blue_inactive;
    color:$btn_blue_text;
}
.red{
    border: 1px solid $btn_red_outline;
    background: $btn_red_inactive;
    color:$active;
}
.blue:hover{
    border: 1px solid $btn_blue_text;
    background:$btn_blue_text;
}
.red:hover{
    border: 1px solid $active;
    background:$active;
    color:white !important;
}

a:hover{
    cursor: pointer;
}
*{
    user-select: none;
}

//modal animation

.modal-enter,
.modal-leave-active {
    opacity: 0;
  }
  
  .modal-enter .wrap_block,
  .modal-leave-active .wrap_block {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }

  // Error message Animation
  .flowup-enter,
  .flowup-leave-active{
      opacity: 0;
  }
  .openForm-enter #resource_form,
  .openForm-leave-active #resource_form{
      height: 0px;
      opacity: 0;
      margin-top: 0px;
      transition: 0.3s;
  }
  .open-window-enter,
  .open-window-leave-to
   {
      height: 0px ;
      margin-top: -45px;
      opacity: 0;
  }
  .open-window-enter-to,
  .open-window-leave{
     margin-top: 0px;
     opacity: 1;
  }
  .open-window-enter-to .newSchool_form{
     height: 398px;
  }
  .open-window-enter-to .newRef_form{
    height: 140px;
 }
  .open-window-enter-to .newJob_form{
    height: 500px;
  }
  .open-window-leave-active{
    transition:  opacity 0.2s;
  }
  .open-window-enter-active{
      transition: height 0.4s, margin-top 0.4s, opacity 0.2s;

  }
a{
    transition: 0.3s;
}
.errorMessage{
    font-family: $Roboto !important;
    font-weight: 300 !important;
    color:$active !important;
    transition: 0.3s;
    letter-spacing: 0.1px !important;
}
.errorColor{
    color: $active !important;
    background: $btn_red_inactive !important;
    span {
        color: $active !important; 
    }
}
.error{
    position: relative;
    border: 1px solid $btn_red_outline !important;
    background: $btn_red_inactive;
    color:$active;
    animation: 0.3s shake;
    z-index: 2;
    *{
        color:$active !important;
    }
    input[type='range']::-webkit-slider-thumb {
        background: $active
    }
}
.error:hover{
    background: $btn_red_inactive;
}
input[type="number"]::-webkit-inner-spin-button{
    display: none;
}
input[type="range"] ~ label,
input[type="checkbox"] ~ label{
    div.error:hover{
        background: $btn_blue_text !important;
    }
}
.error~span{
    color: $active
}
.error::-webkit-input-placeholder{
    color:$active;
}
.error:focus{
    border: 1px solid $btn_red_outline;
    color:$active;
}
button[disabled = "disabled"],
button[disabled = "disabled"]:hover{
    background: $block_grey_fill;
    border: 1px solid $block_grey_outline;
    color:$paragraphcolor;
    cursor: default;
}

h5{
    font-family: $Roboto;
    color:$main_black;
    font-size: 14pt;
    font-weight: 400;
}

.step{
    position: relative;
    top: -1px;
    padding: 20px 4% 20px 5.2%;
    min-height: 65vh;
    min-width:95%;
    animation: stepAppear 0.2s;
}
.step>div{
    margin: 40px 0px; 
}
.input-group:not(:last-child){
    border-bottom: 1px solid $divider;
    padding-bottom: 6%;
}

.white_block,
{
    background: white;
    border-radius: 5px;
    border: 1px solid $grey;
}
input[type='range']:focus{
    outline: none;
}
input[type='range']{
    -webkit-appearance: none;
    }
input[type='range'] {
    -webkit-appearance: none;
}
input[type="range"]::-webkit-slider-runnable-track{
    background: white;
    border-radius: 20px;
    -webkit-appearance: none;
    border: 1px solid $block_grey_outline;
    height: 12px;    
}
input[type='range']::-webkit-slider-thumb {      
    width: 17px;
    -webkit-appearance: none;
    height: 17px;
    border-radius: 100%;
    background: $btn_blue_text;
    margin-top:-5px;
    border: 2px solid white;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.247);
}
        
input[type="range"]::-moz-range-progress {
    background-color:$btn_blue_text;
}
input[type="range"]::-moz-range-track {
    border: 1px solid $block_grey_outline;  
    background-color: white;
}
input[type="range"]::-ms-fill-lower {
    background-color:$btn_blue_text;
}
input[type="range"]::-ms-fill-upper {  
    background-color:white;
}
input[type="text"]:focus,
input[type="text"]:focus::-webkit-input-placeholder {
  color: $btn_blue_text;
}
.window{
    position: relative;
}
#close-btn{
    position: absolute; top: 2.5%; right: 5%;
}
.align-middle * {
    vertical-align: middle;
    align-items: center;
}
.checkbox {
    display: inline-block;
    width: 30px;
    height: 30px;
}
label span{
    font-family: $Exo;
    font-weight: 400;
    letter-spacing: 0.1px;
    color: $paragraphcolor;
    transition: 0.3s;
}
input[type="radio"]:not([name="sex"]):checked ~ label,
input[type="checkbox"]:not([name="sex"]):checked ~ label{
    span,
    div {
      animation: 0.15s skew forwards;
      transition: 0.15s;
    }
    div{
      border: 1px solid $btn_blue_text !important;
    }
}
input[type="radio"]:checked ~ label > span,
input[type="checkbox"]:checked ~ label > span {
   color: $btn_blue_text;
   animation: none;
}
input[type="checkbox"]:checked ~ label .simple-svg-wrapper {
    transition: 0s !important;
}
.choosed input[type="checkbox"]:checked ~ label > span{
    color:white;
}
input[type="radio"],
input[type="checkbox"] {
    position: absolute;
    opacity: 0;
    z-index: -10;
  }
  h6 {
    font-family: $Exo !important;
    font-weight: 300;
    color: $paragraphcolor;
    letter-spacing: 0.1px;
    line-height: 22px;
    font-size: 11pt;
  
    a {
      border-bottom: 1px dashed $paragraphcolor;
    }
  }

.list-item{
    opacity: 0;
    position: relative;
    border-radius: 6px;
    box-shadow: 0px 0.505px 5px 0px rgba(0, 0, 0, 0.05);
    border: 1px solid $divider; 
    overflow: hidden;
    header{
        background: white;
        transition: 0.3s;
        font-size: 13pt;
        z-index: 1;
        label span{
            color: $btn_blue_text;
            cursor: pointer;
        }
        font-family: $Exo;
        border-bottom: 1px solid $divider;
    }
    animation: stepAppear 0.2s forwards;
    animation-delay: 0.2s;
}
.open{
    header{
        background: rgb(249, 252, 255); 
    }
}
.error_message{
    color: $active
}
.new_btn{
    border: 1px dashed $block_grey_outline;
    color: $paragraphcolor
}
.new_btn:hover{
    border: 1px solid $btn_blue_text;
    color: $btn_blue_text;
    background: $btn_blue_inactive
}
.rotated{
    transform: rotate(90deg);
}
.blue_text{
    color:$btn_blue_text !important;
}
.newSchool_form,
.newJob_form,
.newRef_form{
    z-index: -1;
    transition: all 0.3s,opacity 0.1s;
    h6:first-child{
        color: $main_black;
    }
}
input:focus~.max-length,
textarea:focus~.max-length{
        opacity: 1;
        transition: 0.2s;
        transition-delay:0.3s;
}
textarea{
    resize: none;
}
.max-length{
    opacity: 0;
    position: absolute;
    top: -11%;
    left: 90%;
    color: $btn_blue_text; 
    background: white;
    font-size: 0.7vw;
    font-family: $Exo;
    width:8%;
    z-index: 2 !important;
}
textarea~.max-length{
    top: -5%;
}
.pragraph-block{
    position: relative;
}
textarea{
    height: 30vh;
}
textarea::-webkit-scrollbar{
    background: none
}
.drag_zone{
    span{
    color: $btn_blue_text !important;
    }
    .simple-svg-wrapper{
      position: relative;  
      animation: bounce 3s infinite;
      animation-delay: 0.5s;
    }
    border: 1px dashed $btn_blue_text !important;
}
@media (max-width: 1200px) {
    label>span,
    .login span,
    .remove span,
    .sign_up span{
      font-size: 1.1vw;
    }
    .step{
        min-width:94%; 
        margin-left: 20px !important;
    }
  }
  @media (max-width: 992px) {
    .errorMessage{
      font-size: 1.4vw;
    }
    label>span,
    .login span,
    .remove span,
    .sign_up span {
      font-size: 1.5vw;
    }
    .step{
        min-width:92%; 
    }
    .list-item{
        header{
            label span{
                font-size: 2.1vw;
            }
        }
    }
  }
  @media (max-width: 768px) {
    .errorMessage{
        font-size: 1.8vw;
    }
    label>span,
    .login span,
    .remove span,
    .sign_up span {
      font-size: 2.0vw;
    }
    .step{
      padding: 20px 7% 20px 7%;  
    }
    .list-item{
      header{
        label span{
            font-size: 2.8vw;
        }
      }
    }
    .max-length{
        font-size: 1.5vw;
        width: 15%;
        left: 82%;
    }
  }
  @media (max-width: 990px) and (min-width: 768px){
    .max-length{
     font-size: 1vw;
    }
  }
  @media (max-width: 570px) {
    .errorMessage{
        font-size: 3vw;
      }
    label>span,
    .login span,
    .remove span,
    .sign_up span {
      font-size: 2.9vw;
      letter-spacing: 0px;
    }
  }
  @media (max-width: 545px) {
    .max-length{
     font-size: 2.3vw;
     top:-12%;
     width: 15%;
     left: 82%;
    }
}
  @media (max-width: 390px) {
        #work_status>div:first-child .checkbox{
            width:40px;
        }
        label>span,{
            font-size: 4.2vw;
        }
        .login span,
        .remove span,
        .sign_up span {
            font-size: 4vw;
        }
        label{
            display: flex
        }
        .login,
        .remove,
        .sign_up{
            z-index: 300 !important;
            .wrap_block>div,
            .wrap_block>div{
                padding: 0;
                .window{
                    margin-bottom: 0 !important;
                    height: 100vh;
                    border-radius:  0;
                }
            }
        }   
    }



@keyframes shake {
        0%{
            left: -10px
        }
        50%{
            left: 10px;
        }
        100%{
            left:0px
        }
    }
@keyframes skew {
        0% {
          -webkit-transform: scale(0.8);
          transform: scale(0.8);
        }
        100% {
          -webkit-transform: scale(1);
          transform: scale(1);
        }
    }
@keyframes stepAppear {
        0%{
            opacity: 0;
            top: -10px
        }
        100%{
            opacity: 1;
            top: 0px;
        }
    }
